@model List<FunctionViewModel>
<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            @foreach (var item in Model.Where(x => string.IsNullOrEmpty(x.ParentId)))
            {
                <li class="nav-item dropdown open">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                        <span class="icon-holder">
                            <i class="anticon anticon-dashboard"></i>
                        </span>
                        <span class="title">@item.Name</span>
                        <span class="arrow">
                            <i class="arrow-icon"></i>
                        </span>
                    </a>
                    @if (Model.Any(x => x.ParentId == item.Id))
                    {
                        <ul class="dropdown-menu">
                            @foreach (var jitem in Model.Where(x => x.ParentId == item.Id))
                            {
                                <li class="active">
                                    <a href="index.html">@jitem.Name</a>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>
</div>