.loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: static;
    display: block;
    opacity: 0.7;
    background: rgba( 255, 255, 255, .5 ) url('../images/loadingg.gif') 50% 50% no-repeat;
    z-index: 99;
    pointer-events: none;
}

.scrollTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: .05s;
    transition: 0.5s;
}

    .scrollTop:hover {
        content: "\f156";
        color: #f00;
    }

#myBtn {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #00c9a7;
    text-align: center;
    border: none;
}

    #myBtn:hover {
        content: "\f106";
        color: goldenrod;
    }

    #myBtn:focus {
        outline: none;
    }

label.is-invalid {
    color: #de4436;
}